<div>
    <h2>
        <span jhiTranslate="multicApp.tipEstudiante.home.title">Tip Estudiantes</span>
        <button class="btn btn-primary float-right jh-create-entity create-tip-estudiante" [routerLink]="['/', { outlets: { popup: ['tip-estudiante-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="multicApp.tipEstudiante.home.createLabel">
            Create new Tip Estudiante
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tipEstudiantes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="multicApp.tipEstudiante.tip">Tip</span></th>
            <th><span jhiTranslate="multicApp.tipEstudiante.estudiante">Estudiante</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipEstudiante of tipEstudiantes ;trackBy: trackId">
                <td><a [routerLink]="['../tip-estudiante', tipEstudiante.id ]">{{tipEstudiante.id}}</a></td>
                <td>{{tipEstudiante.tip}}</td>
                <td>
                    <div *ngIf="tipEstudiante.estudiante">
                        <a [routerLink]="['../estudiante', tipEstudiante.estudiante?.id ]" >{{tipEstudiante.estudiante?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tip-estudiante', tipEstudiante.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tip-estudiante/'+ tipEstudiante.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tip-estudiante/'+ tipEstudiante.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
