
<div *ngIf="avatar">
    <h2><span jhiTranslate="multicApp.avatar.detail.title">Avatar</span> {{avatar.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="multicApp.avatar.monedas">Monedas</span></dt>
        <dd>
            <span>{{avatar.monedas}}</span>
        </dd>
        <dt><span jhiTranslate="multicApp.avatar.nombre">Nombre</span></dt>
        <dd>
            <span>{{avatar.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="multicApp.avatar.cabello">Cabello</span></dt>
        <dd>
            <span jhiTranslate="{{'multicApp.COLOR.' + avatar.cabello}}">{{avatar.cabello}}</span>
        </dd>
        <dt><span jhiTranslate="multicApp.avatar.ropa">Ropa</span></dt>
        <dd>
            <span jhiTranslate="{{'multicApp.COLOR.' + avatar.ropa}}">{{avatar.ropa}}</span>
        </dd>
        <dt><span jhiTranslate="multicApp.avatar.universo">Universo</span></dt>
        <dd>
            <div *ngIf="avatar.universo">
                <a [routerLink]="['/universo', avatar.universo?.id]">{{avatar.universo?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'avatar/'+ avatar.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
